<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gorilla Warfare Tactics</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div id="header-wrapper">
      <div id="header-wrapper2">
        <div id="header" class="container">
          <nav id="menu">
            <ul>
              <li><a href="/" accesskey="1" title="">Homepage</a></li>
              <li class="current_page_item"><a href="/about" accesskey="2" title="">About</a></li>
              <li><a href="/discography" accesskey="3" title="">Discography</a></li>
              <li><a href="/tourdates" accesskey="4" title="">Tour Dates</a></li>
            </ul>
          </nav>
        </div>
        <div id="wrapper">
          <div id="page" class="container">
            <div id="content">
              <div class="title">
                <h2>Gorilla Warfare Tactics</h2>
                <span class="byline">Manhattan-based partnership of (rapper) Dilla and (producers) Imagine1984</span> 
              </div>
              <p>Gorilla Warfare Tactics is a hip hop trio based out of Lower Manhattan. Their first mixtape "Premier" grabbed a lot of attention in the industry, garnering over 40,000 downloads. GWT plans to release their next project on 4/30/13. It is a collaboration between rapper Dilla and production duo Imagine1984. Be on the lookout!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="copyright" class="container">
    </footer>
  </body>
</html>
