<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gorilla Warfare Tactics</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div id="disc-header-wrapper">
      <div id="header-wrapper2">
        <div id="header" class="container">
          <nav id="menu">
            <ul>
              <li><a href="/" accesskey="1" title="">Homepage</a></li>
              <li><a href="/about" accesskey="2" title="">About</a></li>
              <li class="current_page_item"><a href="/discography" accesskey="3" title="">Discography</a></li>
              <li><a href="/tourdates" accesskey="4" title="">Tour Dates</a></li>
            </ul>
          </nav>
        </div>
        <div id="wrapper">
          <div id="page" class="container">
            <div id="album-content">
              <h2 class="title">Gorilla Warfare Tactics</h2>
              <div class="album">
                <div class="cover"><img height="500px" width="500px" src="/images/rwcover.jpg"></div>
                <div class="tracks">
                  <ul>
                    <li><span class="track">RewindRhyme <audio src="/music/rewindrhyme/RewindRhyme.mp3" controls="controls"></audio></span></li>
                  </ul>
                </div>
              </div>
              <div class="album">
                <div class="cover"><img height="500px" width="500px" src="/images/Premiercover.jpg"></div>
                <div class="tracks">
                  <ul>
                    <li><span class="track">Temptations <audio src="/music/premier/01%20Temptations.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">Classics <audio src="/music/premier/02%20Classics.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">SKITZO <audio src="/music/premier/03%20SKITZO.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">Dream Green <audio src="/music/premier/04%20Dream%20Green.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">Bernie Madoff <audio src="/music/premier/05%20bernie%20madoff.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">The Tale of Mr. Street <audio src="/music/premier/06%20The%20Tale%20of%20Mr.%20Street.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">The Come Up <audio src="/music/premier/07%20The%20Come%20Up.mp3" controls="controls"></audio></span></li>
                  </ul>
                </div>
              </div>
              <div class="album">
                <div class="cover"><img height="500px" width="500px" src="/images/ZoologyART.JPG"></div>
                <div class="tracks">
                  <ul>
                    <li><span class="track">5th Concerto <audio src="/music/zoology/5th%20Concerto.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">'84 <audio src="/music/zoology/%2784.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">Dark Saber Jedi <audio src="/music/zoology/Dark%20Saber%20Jedi.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">drugDILLA <audio src="/music/zoology/drugDILLA.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">KINGDOM <audio src="/music/zoology/KINGDOM.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">Morphine <audio src="/music/zoology/Morphine.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">No Place Like Shibuya <audio src="/music/zoology/No%20Place%20Like%20Shibuya.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">Rap Game <audio src="/music/zoology/Rap%20Game.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">WARFARE <audio src="/music/zoology/WARFARE.mp3" controls="controls"></audio></span></li>
                    <li><span class="track">Zoology <audio src="/music/zoology/Zoology.mp3" controls="controls"></audio></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="copyright" class="container"></footer>
  </body>
</html>

