<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gorilla Warfare Tactics</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div id="header-wrapper">
      <div id="header-wrapper2">
        <div id="header" class="container">
          <nav id="menu">
            <ul>
              <li class="current_page_item"><a href="/" title="">Homepage</a></li>
              <li><a href="/about" title="">About</a></li>
              <li><a href="/discography" title="">Discography</a></li>
              <li><a href="/tourdates" title="">Tour Dates</a></li>
            </ul>
          </nav>
        </div>
        <div class="major">
          <a href="/discography" class="button">Listen Now</a>
        </div>
      </div>
    </div>
    <footer id="copyright" class="container">
    </footer>
  </body>
</html>

